.whami-place-teaser table {
  margin:0;
  margin-bottom:0;
  border:none;
}

.whami-place-licence table {
  margin:0;
}

.whami-place-teaser tbody {
  border:none;
  border-top: none;
}

.whami-place-licence tbody {
  border:none;
}

.whami-place-licence img {
  vertical-align: middle; 
}

.whami_read_licence {
  font-size:9px;
  line-height:9px;
  color:#ACACAC;
  margin-top:2px;
}

.whami-place-list .whami-place-teaser {
  margin:0;
}

div.loading {
    background: url("/sites/all/themes/pixture_reloaded/images/large-loader.gif") no-repeat scroll 12px center #FFF6BF;
}